$backgroundColor: rgba(61, 60, 60, 0.91);
$texColorBlack: #535353;
$texColorWhite: #d3d3d3;

#wrapperMenu {
  padding: 0px;
  background-color: $backgroundColor;

  .navbar-nav {
    padding-right: 0px;

    .nav-link {
      color: $texColorWhite;
    }
    .nav-link:not(.active):hover {
      background-color: whitesmoke;
      opacity: 0.7;
      color: $texColorBlack;
    }

    .nav-link.active {
      font-weight: bold;
      background-color: #4949ed;
    }
  }
}
// ul {
// list-style: none;
// display: block;
// margin: 0;
// padding: 0;
// text-align: center;
// }
//     > li {
//       display: inline-block;
//       margin: 0 auto;

//       > a {
//         padding: 15px;
//         display: block;
//         color: white;
//         text-decoration: none;
//       }

//       > a:not(.active):hover {
//         background-color: whitesmoke;
//         color: black;
//       }

//       > a.active {
//         background-color: greenyellow;
//         color: purple;
//       }

//       > a.active:hover {
//         opacity: 0.8;
//       }
//     }
//   }
// }
